header{
    color: purple;
}

.machine-active h1{
    color: green;
}

.machine-desactivee h1{
    color: red;
}

.machine-desactivee #cabane {
    text-transform: uppercase;
}

button {
    background-color: black;
    color: white;
}

footer{
    color: blue;
}