header{
    color: purple;
}

.machine-active h1{
    color: green;
}

.machine-desactivee h1{
    color: red;
}

.machine-active h2{
    color: green;
}

.machine-desactivee h2{
    color: red;
}

button {
    background-color: black;
    color: white;
}

footer{
    color: blue;
}